################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XmlSerializationExamples/obj/Debug/XmlSerializationExamples.csproj.CoreCompileInputs.cache
/.vs/XmlSerializationExamples/v15
